html {
    height: 100%;
}

html, html * {
    box-sizing: border-box;
}

body {
    height: 100%;
    font-size: 100%;
    padding: 10px;
    margin: 0;
    background-color: #ccc;
    font-family: sans-serif;
}

.mCalendar-shell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    position: relative;
    z-index: 1;
    font-size: 80%;
    color: #777;
}

.mCalendar-shell header {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 4px;
    position: relative;
    color: #999;
    vertical-align: top;
}

.mCalendar-shell header button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.mCalendar-shell header svg {
    cursor: pointer;
    width: 45px;
    height: 3vh;
    position: relative;
    top: 2px;
}

.mCalendar-shell .monthname {
    margin-right: 5px;
    font-size: 3vh;
}

.mCalendar-shell .year {
    margin-left: 5px;
    font-size: 3vh;
}

.mCalendar-shell .arrow {
    fill: #999;
}

.mCalendar-subshell {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.mCalendar-undergrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.mCalendar-rowcontainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: 0;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.mCalendar-row {
    display: grid;
    align-items: start;
    width: 100%;
    overflow: hidden;
    grid-template-columns: repeat(7, 1fr);
    z-index: 4;
    margin-top: 18px;
}

.mCalendar-row.offset-1 {
    grid-row-start: 1;
}

.mCalendar-row.offset-2 {
    grid-row-start: 2;
}

.mCalendar-row.offset-3 {
    grid-row-start: 3;
}

.mCalendar-row.offset-4 {
    grid-row-start: 4;
}

.mCalendar-row.offset-5 {
    grid-row-start: 5;
}

.mCalendar-row.offset-6 {
    grid-row-start: 6;
}

.event {
    cursor: pointer;
    margin: 0 4px;
    border-radius: 8px;
    align-self: start;
    max-height: 1.2em;
    padding: 0 6px;
    font-size: 80%;
    z-index: 8;
    text-decoration: none;
    box-shadow: 1px 1px 2px #555;
}

.event:hover {
    box-shadow: 1px 1px 5px #333;
}

.event time.ends {
    float: right;
}

span.dayname {
    padding: 0 5px 0 0;
}

span.fulldayname {
    display: none;
}

span.daynumber {
    padding: 0 0 0 5px;
}

span.evtCounter {
    position: absolute;
    bottom: 0;
    left: 0;
}

.mCalendar-gridobj {
    border: solid 1px #ddd;
    position: relative;
    z-index: 1;
    text-align: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.mCalendar-gridobj.empty {
    background-color: #e5e5e5;
}

.multiday-2 {
    grid-column-end: span 2;
}

.multiday-3 {
    grid-column-end: span 3;
}

.multiday-4 {
    grid-column-end: span 4;
}

.multiday-5 {
    grid-column-end: span 5;
}

.multiday-6 {
    grid-column-end: span 6;
}

.multiday-7 {
    grid-column-end: span 7;
}

/* COVERS EVENTS AND OVERFLOW NOTES */
.mCalendar-row .offset-0 {
    grid-column-start: 1;
}

.mCalendar-row .offset-1 {
    grid-column-start: 2;
}

.mCalendar-row .offset-2 {
    grid-column-start: 3;
}

.mCalendar-row .offset-3 {
    grid-column-start: 4;
}

.mCalendar-row .offset-4 {
    grid-column-start: 5;
}

.mCalendar-row .offset-5 {
    grid-column-start: 6;
}

.mCalendar-row .offset-6 {
    grid-column-start: 7;
}

.weekWrapped {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.weekWraps {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.colorscheme-event1 {
    background-color: lightgreen;
    color: #666;
}

.colorscheme-event2 {
    background-color: orange;
    color: white;
}

.colorscheme-event3 {
    background-color: blue;
    color: white;
}

.colorscheme-event4 {
    background-color: cyan;
    color: #666;
}

.colorscheme-event5 {
    background-color: magenta;
    color: #fff;
}

.colorscheme-event6 {
    background-color: purple;
    color: #fff;
}

.colorscheme-event7 {
    background-color: pink;
    color: #666;
}

.overflowElement {
    cursor: pointer;
    margin: 0 4px;
    border: 1px inset #777;
    text-align: center;
    align-self: start;
    max-height: 1.2em;
    padding: 0 6px;
    font-size: 80%;
    z-index: 8;
    color: #777;
    overflow: hidden;
}

@media all and (min-width:639px) {
    span.fulldayname {
        display: inline;
    }
    .event {
        max-height: calc(1.2em _ 8px);
        padding: 4px 6px;
        font-weight: bold;
        font-size: 90%;
    }
    .overflowElement {
        max-height: calc(1.2em + 8px);
        padding: 4px 6px;
        font-weight: bold;
        font-size: 90%;
    }
}